<section class="ing-login">
  <div class="ing-container">
    <div class="ing-right">
      <div class="left-image">
        <img src="assets/images/left.svg">
      </div>
      <div class="ing-image">
        <img src="assets/images/login.svg" class="ing-login-image" alt="image">
      </div>
    </div>
    <div class="ing-left">
      <div class="right-corner">
        <img src="assets/images/right.svg">
      </div>
      <div class="ing-image">
        <img src="assets/images/logo.svg" alt="Logo" height="120" width="350">
      </div>
      <h1>Check your Email</h1>
      <p>We have sent a code to your registered email. </p>
      <div class="ing-form-control">
        <p-floatLabel>
          <input pInputText  />
          <label >Password</label>
        </p-floatLabel>
      </div>
      <div class="ing-form-control">
        <p-floatLabel>
          <input pInputText  />
          <label > Confirm Password</label>
        </p-floatLabel>
      </div>
      <div class="ing-login-button">
        <button type="button" >CONTINUE</button>
      </div>
      <div class=" ing-link">
        <a> <i class=" pi pi-arrow-left"></i>BACK TO LOGIN</a>
      </div>
    </div>
  </div>
</section>
