<section class="ing-login">
 <div class="ing-container">
 <div class="ing-right">
   <div class="left-image">
     <img src="assets/images/left.svg">
   </div>
      <div class="ing-image">
        <img src="assets/images/login.svg" class="ing-login-image" alt="image">
      </div>
    </div>
    <div class="ing-left">
<div class="right-corner">
  <img src="assets/images/right.svg">
</div>
      <div class="ing-image">
        <img src="assets/images/logo.svg" alt="Logo" height="120" width="350">
      </div>
      <h1>Welcome! Let's get started!</h1>
      <div class="ing-form-control">
        <p-floatLabel>
          <input pInputText  />
          <label >Username</label>
        </p-floatLabel>
      </div>
      <div class="ing-form-control">
        <p-floatLabel>
        <input pInputText  />
        <label>Password</label>
      </p-floatLabel>
      </div>
      <div class="ing-check">
        <div class="ing-remember">
          <p-checkbox value="" inputId="" />
          <label>Remember Me</label>
        </div>
        <div class="ing-link">
          <a >Forgot Password?</a>
        </div>
      </div>
      <div class="ing-login-button">
        <button type="button" >LOG IN</button>
      </div>
    </div>
  </div>
</section>
