<section class="dashboard">

  <div class="navbar">
    <div class=" ing-sidenav">
      <div class=" ing-logo-container">
        <div class=" ing-image">
          <img src="assets/images/Vector.svg">
        </div>
        <div class=" ing-menu">
          <ul class="ing-sidenav-nav">
            <li class="ing-sidenav-nav-item" >
              <a   class="ing-sidenav-nav-link">
                    <span class="material-symbols-outlined">
flex_wrap
</span>
              </a>
            </li>
            <li class="ing-sidenav-nav-item" >
              <a   class="ing-sidenav-nav-link">
            <span class="material-symbols-outlined">
no_luggage
</span>
              </a>
            </li>
            <li class="ing-sidenav-nav-item" >
              <a   class="ing-sidenav-nav-link">
            <span class="material-symbols-outlined">
swap_horizontal_circle
</span>
              </a>
            </li>
            <li class="ing-sidenav-nav-item" >
              <a   class="ing-sidenav-nav-link">
                    <span class="material-symbols-outlined">
                        group
                    </span>
              </a>
            </li>

            <li class="ing-sidenav-nav-item" >
              <a   class="ing-sidenav-nav-link">
            <span class="material-symbols-outlined">
cloud_upload
</span>
              </a>
            </li>
            <li class="ing-sidenav-nav-item" >
              <a   class="ing-sidenav-nav-link">
            <span class="material-symbols-outlined">
event_list
</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="ing-log-out">
          <hr>
          <a  class="ing-sidenav-nav-link">
            <span class="material-symbols-outlined">
                logout
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="hero">
    <div class="top-nav">
      <div class="title">
        <h1>Welcome Prashant KC! <span>Teacher Admin</span></h1>
      </div>
      <div class="icons">
  <span class="material-symbols-outlined">
search
</span>
        <span class="material-symbols-outlined">
notifications_active
</span>
        <div class="dropdown">
          <img src="assets/images/admin.svg">
          <span class="material-symbols-outlined">
arrow_drop_down
</span>
        </div>
      </div>

    </div>
    <div class="details">
      <h1> Work Breakdown Structure</h1>
      <p-scrollPanel>
      <div class="card">

        <div class="image">
        <img src="assets/images/teacher.svg">
          <div class="text">
            <h1>Rakshak Bhusan Bajracharya <span>Teacher Admin</span></h1>
          </div>
        </div>
        <div class="basic-info">
          <h1>Bacis Information</h1>
          <div class="column">
            <div class="row1">

                <p>Full Name <span> Trinity International College</span> </p>
                <p> Personal Email Address<span> Info&#64;islingtoncollege.edu.np </span></p>
                <p> Personal Contact Number<span> 01-4235694 </span></p>
            </div>
            <div class="row2">
              <p> Address <span> Trinity International College </span></p>
              <p></p>
            </div>
          </div>

        </div>
        <hr>

        <div class="academic-info">
          <h1>Academic Information</h1>
          <div class="column">
            <div class="row1">
                <p>Course Name <span> B.Sc(Hons) Computing</span> </p>
                <p> Module Name<span> Introduction to Information System </span></p>
                <p> Role<span> Module Leader,Lecturer,Tutor </span></p>

            </div>

            <div class="row2">
              <p> Work Email Address <span> info&#64;islingtoncollege.edu.np </span></p>
              <p> Work Contact Number<span> info&#64;islingtoncollege.edu.np </span></p>

              <p> <span>  </span></p>
            </div>
          </div>

        </div>
          <hr>

      </div>
      </p-scrollPanel>
    </div>
  </div>
</section>
