<section class="dashboard">

  <div class="navbar">
    <div class=" ing-sidenav">
      <div class=" ing-logo-container">
        <div class=" ing-image">
          <img src="assets/images/Vector.svg">
        </div>
    <div class=" ing-menu">
      <ul class="ing-sidenav-nav">
        <li class="ing-sidenav-nav-item" >
          <a   class="ing-sidenav-nav-link">
                    <span class="material-symbols-outlined">
flex_wrap
</span>
          </a>
        </li>
        <li class="ing-sidenav-nav-item" >
          <a   class="ing-sidenav-nav-link">
            <span class="material-symbols-outlined">
no_luggage
</span>
          </a>
        </li>
        <li class="ing-sidenav-nav-item" >
          <a   class="ing-sidenav-nav-link">
            <span class="material-symbols-outlined">
swap_horizontal_circle
</span>
          </a>
        </li>
        <li class="ing-sidenav-nav-item" >
          <a   class="ing-sidenav-nav-link">
                    <span class="material-symbols-outlined">
                        group
                    </span>
          </a>
        </li>

        <li class="ing-sidenav-nav-item" >
          <a   class="ing-sidenav-nav-link">
            <span class="material-symbols-outlined">
cloud_upload
</span>
          </a>
        </li>
        <li class="ing-sidenav-nav-item" >
          <a   class="ing-sidenav-nav-link">
            <span class="material-symbols-outlined">
event_list
</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="ing-log-out">
      <hr>
      <a  class="ing-sidenav-nav-link">
            <span class="material-symbols-outlined">
                logout
            </span>
      </a>
    </div>
      </div>
    </div>
  </div>
<div class="hero">
  <div class="top-nav">
<div class="title">
  <h1>Welcome Prashant KC! <span>Teacher Admin</span></h1>
</div>
<div class="icons">
  <span class="material-symbols-outlined">
search
</span>
  <span class="material-symbols-outlined">
notifications_active
</span>
  <div class="dropdown">
    <img src="assets/images/admin.svg">
    <span class="material-symbols-outlined">
arrow_drop_down
</span>
  </div>
</div>
  </div>

  <h1>Work Breakdown Structure</h1>
  <div class="wbs">
    <div class="chart">
      <p-chart type="line" [data]="data" [options]="options" />
    </div>
    <div class="text">
      <h1><span class="material-symbols-outlined">
work_history
</span> Work History</h1>
      <p-dropdown
        optionLabel="name"
        placeholder="Year ( A.D )" />
      <p-dropdown
        optionLabel="name"
        placeholder="Semester" />
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input type="text" pInputText placeholder="SEARCH" />
      </p-iconField>
    </div>
  </div>
</div>
</section>
