.dashboard{
  display: flex;
  background: #FAFAFA;

}

.navbar{
  width: 8%;
}
.ing-sidenav {
  background-color: #ffffff;
  width: 112px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(60px + (80 - 60) * ((100vw - 1024px) / (1920 - 1024)));
  align-items: center;
  box-shadow: 3px 0px 0px #eaeaea;
  hr {
    background-color: #F2F2F2;
    border: none;
    height: 2px;
    width: 112px;
    position: absolute;
    transform: translate(-45px, -50px);
  }

  .ing-logo-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    .ing-image{
      img {
        transform: translateY(50%);
        position: relative;
        width: calc(50px + (55 - 50) * ((100vw - 1024px) / (1920 - 1024)));
      }
    }
  }


  .ing-menu {
    line-height: calc(45px + (64 - 45) * ((100vw - 1024px) / (1920 - 1024)));

    .ing-sidenav-nav {
      padding: 0;
      list-style: none;

    }

    a {
      color: #6B7280;
      text-decoration: none;
    }


    span {
      font-size: calc(22px + (28 - 22) * ((100vw - 1024px) / (1920 - 1024)));
    }



  }
  .ing-log-out {
    padding-bottom: 32px;
    cursor: pointer;
  }

  .ing-log-out {
    a {
      color: #6B7280;
      cursor: pointer;
    }
  }
}

.hero{
  margin-top: 15px;
  width:91.3%;
  .top-nav{
    background: #FFFFFF;
padding: 12px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;

    span{
      display: block;
      font-size: calc(12px + (16 - 12) * ((100vw - 1024px) / (1920 - 1024)));
      font-weight: 400;
      line-height: 14.22px;
      text-align: left;
      color: #6B7280;

    }
    .icons,
    .dropdown{
      display: flex;
      align-items: center;
      gap: 5px;
      img{
        width: 80px;
      }
      span{
        font-size: 26px !important;
      }

    }
}
  h1{
    font-size: calc(16px + (32 - 16) * ((100vw - 1024px) / (1920 - 1024)));
    font-weight: 600;
    text-align: left;
    color: #404B5A;
  }
  .wbs {
    width: 100%;
    background: #FFFFFF;
    padding: 12px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    display: flex;
    align-items: center;
  }
  .chart{
    width: 65%;
  }
  .text{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

}
::ng-deep {
  .p-dropdown,
  .p-inputtext {
    width: 100%;
  }
  p-iconField {
    .p-inputtext {
      background-color: #009854;
      color: white !important;
    }
    .p-input-icon{
      color: white;
    }
    .p-inputtext::placeholder {
      color: white;

    }
  }
}


