<section class="popup">
  <div class="exit">
    <div class="card">
      <img src="assets/images/exit%201.svg">
      <h1>Are you sure that you want
        to leave?</h1>
      <button class="button1">Not Really</button>
      <button class="button2">Yes</button>
    </div>
  </div>
  <div class="success1">
    <div class="card">
      <img src="assets/images/green.svg">
      <h1>User Successfully Created !
      <span>Lorem ipsum dolor sit amet consectetur.</span>
      </h1>
      <button class="button">Okay</button>
    </div>
  </div>
  <div class="warning1">
    <div class="card">
      <img src="assets/images/yellow.svg">
      <h1>Warning ! Are you sure ?
        <span>Lorem ipsum dolor sit amet consectetur.</span>
      </h1>
      <button class="button">Okay</button>
    </div>
  </div>

  <div class="failed1">
    <div class="card">
      <img src="assets/images/red.svg">
      <h1>Failed to Create User !
        <span>Lorem ipsum dolor sit amet consectetur.</span>
      </h1>
      <button class="button">Okay</button>
    </div>
  </div>

  <div class="success2">
    <div class="card">
      <img src="assets/images/green.svg">
      <h1>Warning ! Are you sure ?
        <span>Lorem ipsum dolor sit amet consectetur.</span>
      </h1>

      <div class="bottom">
        <button class="button2">cancel</button>
        <button class="button1">okay</button>
      </div>
    </div>
  </div>
  <div class="warning2">
    <div class="card">
      <img src="assets/images/yellow.svg">
      <h1>Warning ! Are you sure ?
        <span>Lorem ipsum dolor sit amet consectetur.</span>
      </h1>

      <div class="bottom">
        <button class="button2">cancel</button>
        <button class="button1">okay</button>
      </div>
    </div>
  </div>
  <div class="failed2">
    <div class="card">
      <img src="assets/images/red.svg">
      <h1>Warning ! Are you sure ?
        <span>Lorem ipsum dolor sit amet consectetur.</span>
      </h1>

      <div class="bottom">
        <button class="button2">cancel</button>
        <button class="button1">okay</button>
      </div>
    </div>
  </div>

</section>
