.popup {
  background-color: rgba(163, 163, 163, 0.83);
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 20px;
  gap: 20px;
  .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  img{
    width: 150px;
  }
  .exit,
  .success1,
  .warning1,
  .failed1,
  .success2,
  .warning2,
  .failed2{
    border-radius: 20px;
    background-color: white;
    width: 350px;
    padding: 50px;
    h1 {
      font-size: calc(12px + (20 - 12) * ((100vw - 1024px) / (1920 - 1024)));
      font-weight: 600;
      text-align: center;
      color: #404B5A;
      line-height: 1;
    }
    .bottom{
      display: flex;
      gap: 20px;
      width: 100%;
    }
    .button1 {
      pointer-events: auto;
      padding: calc(15px + (20 - 15) * ((100vw - 1024px) / (1920 - 1024)));
      border-radius: 4px;
      color: white;
      font-size: calc(14px + (18 - 14) * ((100vw - 1024px) / (1920 - 1024)));
      font-weight: 600;
      border: none;
      width: 100%
    }

    .button2 {
      pointer-events: auto;
      padding: calc(14px + (19 - 14) * ((100vw - 1024px) / (1920 - 1024)));
      border-radius: 4px;
      background-color: #ffffff;
      font-size: calc(14px + (18 - 14) * ((100vw - 1024px) / (1920 - 1024)));
      font-weight: 600;
      width: 100%;

    }
    span{
      display: block;
      margin-top: 10px ;
      font-size: calc(12px + (16 - 12) * ((100vw - 1024px) / (1920 - 1024)));
      font-weight: 700;
      text-align: center;
      color: #A3A3A3;

    }

    .button {
      pointer-events: auto;
      padding: calc(15px + (20 - 15) * ((100vw - 1024px) / (1920 - 1024)));
      border-radius: 4px;
      color: white;
      font-size: calc(14px + (18 - 14) * ((100vw - 1024px) / (1920 - 1024)));
      font-weight: 600;
      border: none;
      width: 100%;
    }
  }
  .exit {
    gap: 10px;
    .button1 {
      background-color: #009854;

    }

    .button2 {
      color: #009854;
      border: 1px solid #009854;

    }
  }
  .success1 {
.button{

  background-color: #009854;
}
  }
  .warning1{
    button{

      background-color: #ff9500;

    }
  }
  .failed1{
    button{

      background-color: #FB3F4A;


    }
  }
  .success2{

    .button1 {
      background-color: #009854;

    }

    .button2 {
      border: 1px solid #009854;
      color: #009854;

    }
  }
  .warning2{

    .button1 {
      background-color: #ff9500;


    }

    .button2 {
      border: 1px solid #ff9500;
      color: #ff9500;

    }
  }
  .failed2{

    .button1 {
      background-color: #FB3F4A;

    }

    .button2 {
      border: 1px solid #FB3F4A;
      color: #FB3F4A;

    }
  }

}

