<section class="add-teacher">

  <div class="navbar">
    <div class=" ing-sidenav">
      <div class=" ing-logo-container">
        <div class=" ing-image">
          <img src="assets/images/Vector.svg">
        </div>
        <div class=" ing-menu">
          <ul class="ing-sidenav-nav">
            <li class="ing-sidenav-nav-item" >
              <a   class="ing-sidenav-nav-link">
                    <span class="material-symbols-outlined">
flex_wrap
</span>
              </a>
            </li>
            <li class="ing-sidenav-nav-item" >
              <a   class="ing-sidenav-nav-link">
            <span class="material-symbols-outlined">
no_luggage
</span>
              </a>
            </li>
            <li class="ing-sidenav-nav-item" >
              <a   class="ing-sidenav-nav-link">
            <span class="material-symbols-outlined">
swap_horizontal_circle
</span>
              </a>
            </li>
            <li class="ing-sidenav-nav-item" >
              <a   class="ing-sidenav-nav-link">
                    <span class="material-symbols-outlined">
                        group
                    </span>
              </a>
            </li>

            <li class="ing-sidenav-nav-item" >
              <a   class="ing-sidenav-nav-link">
            <span class="material-symbols-outlined">
cloud_upload
</span>
              </a>
            </li>
            <li class="ing-sidenav-nav-item" >
              <a   class="ing-sidenav-nav-link">
            <span class="material-symbols-outlined">
event_list
</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="ing-log-out">
          <hr>
          <a  class="ing-sidenav-nav-link">
            <span class="material-symbols-outlined">
                logout
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="hero">
    <div class="top-nav">
      <div class="title">
        <h1>Welcome Prashant KC! <span>Teacher Admin</span></h1>
      </div>
      <div class="icons">
  <span class="material-symbols-outlined">
search
</span>
        <span class="material-symbols-outlined">
notifications_active
</span>
        <div class="dropdown">
          <img src="assets/images/admin.svg">
          <span class="material-symbols-outlined">
arrow_drop_down
</span>
        </div>
      </div>

    </div>

  <div class="teacher">
    <div class="title">
      <p class="details">Teacher Details</p>
      <p class="teacher">Add Teacher</p>
    </div>
    <div class="line">
      <span></span>
    </div>
     <div class="card">
       <div class="left">
<div class="basic-info">
  <h1>Basic Information</h1>
  <div class="row1">
       <div class="input-field">
  <label>First Name</label>
  <input
    pInputText
    placeholder="Enter first name" />
</div>
    <div class="input-field">
      <label >Middle Name</label>
      <input
        pInputText
        placeholder="Enter middle name" />
    </div>
    <div class="input-field">
      <label>Last Name</label>
      <input
        pInputText
        placeholder="Enter last name" />
    </div>

</div>
  <div class="row2">
    <div class="input-field">
      <label>Personal Email Address</label>
      <input
        pInputText
        placeholder="Enter email address" />
    </div>
    <div class="input-field">
      <label >Personal Contact Number</label>
      <input
        pInputText
        placeholder=" Enter contact number" />
    </div>

  </div>
  <div class="row3">
    <div class="input-field">
      <label>Address</label>
      <input
        pInputText
        placeholder="Enter address" />
    </div>

  </div>

</div>
         <div class=" academic-info">
           <h1>Academic Information</h1>
           <div class="row1">
             <div class="input-field">
               <label>Course Name</label>
               <div class=" flex justify-content-center">
               <p-dropdown
                 optionLabel="name"
                 placeholder="Select a Course" />
               </div>
             </div>
             <div class="input-field">
               <label >Module Name</label>
               <div class="flex justify-content-center">
               <p-dropdown
                 optionLabel="name"
                 placeholder="Select a module" />
               </div>
             </div>
             <div class="input-field">
               <label>Role</label>
               <div class="flex justify-content-center">
               <p-dropdown
                 optionLabel="name"
                 placeholder="Select a role" />
               </div>
             </div>
             <i class="pi pi-plus-circle"></i>
           </div>
           <div class="row2">
             <div class="input-field">
               <label>Course Name</label>
               <div class=" flex justify-content-center">
               <p-dropdown
                 optionLabel="name"
                 placeholder="Select a Course" />
               </div>
             </div>
             <div class="input-field">
               <label >Module Name</label>
               <div class=" flex justify-content-center">
               <p-dropdown
                 optionLabel="name"
                 placeholder="Select a module" />
               </div>
             </div>
             <div class="input-field">
               <label>Role</label>
               <div class=" flex justify-content-center">
               <p-dropdown
                 optionLabel="name"
                 placeholder="Select a role" />
               </div>
             </div>
             <i class="pi pi-minus-circle"></i>
           </div>
           <div class="row3">
             <div class="input-field">
               <label>Work Email Address</label>
               <input
                 pInputText
                 placeholder="Enter professional email address" />
             </div>
             <div class="input-field">
               <label >Work Contact Number</label>
               <input
                 pInputText
                 placeholder=" Enter professional contact number" />
             </div>

           </div>
         </div>
<div class="bottom">
  <button type="button">
    Save Information
  </button>
</div>
       </div>


       <div class="right">
<p class="title">Preview</p>
         <div class="top">
           <img src="assets/images/add-teacher.svg">
         </div>
         <div class="mid">
           <p>OR</p>
         </div>
         <div class="bottom">
           <div class="upload">
<div class="border">
  <div class="icon">

    <i class="pi pi-image"></i>
  </div>
  <div class="text">
    <p class="text1">Upload an image<span> or drag and drop</span></p>
    <p class="text2">Only PNG, JPG, and JPEG format accepted.</p>
  </div>
</div>
         </div>
         </div>

       </div>
     </div>
  </div>
  </div>
</section>
