.user{
  display: flex;
  background: #FAFAFA;

}

.navbar{
  width: 8%;
}
.ing-sidenav {
  background-color: #ffffff;
  width: 112px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(60px + (80 - 60) * ((100vw - 1024px) / (1920 - 1024)));
  align-items: center;
  box-shadow: 3px 0px 0px #eaeaea;
  hr {
    background-color: #F2F2F2;
    border: none;
    height: 2px;
    width: 112px;
    position: absolute;
    transform: translate(-45px, -50px);
  }

  .ing-logo-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    .ing-image{
      img {
        transform: translateY(50%);
        position: relative;
        width: calc(50px + (55 - 50) * ((100vw - 1024px) / (1920 - 1024)));
      }
    }
  }


  .ing-menu {
    line-height: calc(45px + (64 - 45) * ((100vw - 1024px) / (1920 - 1024)));

    .ing-sidenav-nav {
      padding: 0;
      list-style: none;

    }

    a {
      color: #6B7280;
      text-decoration: none;
    }


    span {
      font-size: calc(22px + (28 - 22) * ((100vw - 1024px) / (1920 - 1024)));
    }



  }
  .ing-log-out {
    padding-bottom: 32px;
    cursor: pointer;
  }

  .ing-log-out {
    a {
      color: #6B7280;
      cursor: pointer;
    }
  }
}

.hero {
  margin-top: 15px;
  width: 91.3%;

  .top-nav {
    background: #FFFFFF;
    padding: 12px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: calc(16px + (32 - 16) * ((100vw - 1024px) / (1920 - 1024)));
      font-weight: 600;
      text-align: left;
      color: #404B5A;
    }

    span {
      display: block;
      font-size: calc(12px + (16 - 12) * ((100vw - 1024px) / (1920 - 1024)));
      font-weight: 400;
      line-height: 14.22px;
      text-align: left;
      color: #6B7280;

    }

    .icons,
    .dropdown {
      display: flex;
      align-items: center;
      gap: 5px;

      img {
        width: 80px;
      }

      span {
        font-size: 26px !important;
      }

    }
  }

  .account {
    h1 {
      font-size: calc(14px + (16 - 14) * ((100vw - 1024px) / (1920 - 1024)));
      font-weight: 700;
      line-height: 16.59px;
      text-align: left;
      color: #404B5A;

    }

    .overview {
      display: flex;
      justify-content: center;
      gap: 10px;

      .image {
        text-align: center;
        padding: 20px;
        background-color: #FFFFFF;

        box-shadow: 0px 4px 12px 0px #00000008;
        width: 20%;
        border-radius: 6px;

        img {
          width: 80px;
        }

        h1 {
          font-size: calc(10px + (20 - 10) * ((100vw - 1024px) / (1920 - 1024)));
          font-weight: 600;
          line-height: 2;
          text-align: center;
          color: #404B5A;

        }

        span {
          display: block;
          font-size: calc(8px + (16 - 8) * ((100vw - 1024px) / (1920 - 1024)));
          font-weight: 500;
          line-height: 1;
          text-align: center;
          color: #6B7280;
        }

      }

      .details {
        padding: 20px;
        background: #FFFFFF;
        width: 80%;
        border-radius: 6px;
        display: flex;
        align-items: center;

        box-shadow: 0px 4px 12px 0px #00000008;

        .col1,
        .col2 {
          width: 50%;
        }

        .row1,
        .row2,
        .row3,
        .row4 {
          display: flex;
          align-items: center;

          p {
            font-size: calc(12px + (16 - 12) * ((100vw - 1024px) / (1920 - 1024)));
            text-align: left;
            color: #6B7280;
            width: 35%;
            line-height: 0;
          }

          span {
            font-size: calc(10px + (16 - 10) * ((100vw - 1024px) / (1920 - 1024)));
            font-weight: 600;
            line-height: 0;
            text-align: left;
            color: #404B5A;

          }
        }
      }
    }
  }

  .password {
    h1 {
      font-size: calc(14px + (16 - 14) * ((100vw - 1024px) / (1920 - 1024)));
      font-weight: 700;
      line-height: 16.59px;
      text-align: left;
      color: #404B5A;

    }

    .cards {
      display: flex;
      align-items: center;
      gap: 20px;



      p {
        font-size: calc(12px + (16 - 12) * ((100vw - 1024px) / (1920 - 1024)));
        font-weight: 600;
        color: #6B7280;
      }

    }


    ul {
      padding-left: 15px;
    }

    li {
      color: #A3A3A3;
      font-size: calc(12px + (16 - 12) * ((100vw - 1024px) / (1920 - 1024)));
    }

    li::marker {
      color: #009854 !important;

    }

    .card-body {
      padding: 20px;
      border-radius: 24px;
      background-color: #fff;
      box-shadow: 0px 4px 12px 0px #00000008;
    }

    .text-field {
      display: flex;
      gap: 20px;
    }

    select {
      padding: 10px;
      font-size: calc(12px + (16 - 12) * ((100vw - 1024px) / (1920 - 1024)));
      background-color: transparent;
      border: none;
    }

    .ing-form-control1,
    .ing-form-control2,
    .ing-form-control3 {

      display: grid;
      width: 33.33%;

      span {
        color: #6B7280;
        font-size: calc(12px + (16 - 12) * ((100vw - 1024px) / (1920 - 1024)));
        font-weight: 600;
        margin-bottom: 10px;
      }


    }


    .bottom {
      display: flex;
      align-items: center;
    }

    button {
      border: none;
      background-color: #009854;
      color: #fff;
      border-radius: 6px;
      font-family: sans-serif, "Inter" !important;
      font-size: calc(9px + (20 - 9) * ((100vw - 1024px) / (1920 - 1024)));
      padding: 10px 14px;

    }

    .password-criteria {
      width: 80%;
      p{
      color: #6B7280;
      font-size: calc(12px + (16 - 12) * ((100vw - 1024px) / (1920 - 1024)));
      font-weight: 600;
      margin-bottom: 10px;
        }
    }

  }

  ::ng-deep {

    .p-inputtext::placeholder {
      color: #A3A3A3;
      font-size: calc(12px + (16 - 12) * ((100vw - 1024px) / (1920 - 1024)));

    }

    .p-inputtext {
      padding: 12px;
      width: 100%;
    }
  }
}


