<section class="user">
<div class="navbar">
  <div class=" ing-sidenav">
    <div class=" ing-logo-container">
      <div class=" ing-image">
        <img src="assets/images/Vector.svg">
      </div>
      <div class=" ing-menu">
        <ul class="ing-sidenav-nav">
          <li class="ing-sidenav-nav-item" >
            <a   class="ing-sidenav-nav-link">
                    <span class="material-symbols-outlined">
flex_wrap
</span>
            </a>
          </li>
          <li class="ing-sidenav-nav-item" >
            <a   class="ing-sidenav-nav-link">
            <span class="material-symbols-outlined">
no_luggage
</span>
            </a>
          </li>
          <li class="ing-sidenav-nav-item" >
            <a   class="ing-sidenav-nav-link">
            <span class="material-symbols-outlined">
swap_horizontal_circle
</span>
            </a>
          </li>
          <li class="ing-sidenav-nav-item" >
            <a   class="ing-sidenav-nav-link">
                    <span class="material-symbols-outlined">
                        group
                    </span>
            </a>
          </li>

          <li class="ing-sidenav-nav-item" >
            <a   class="ing-sidenav-nav-link">
            <span class="material-symbols-outlined">
cloud_upload
</span>
            </a>
          </li>
          <li class="ing-sidenav-nav-item" >
            <a   class="ing-sidenav-nav-link">
            <span class="material-symbols-outlined">
event_list
</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="ing-log-out">
        <hr>
        <a  class="ing-sidenav-nav-link">
            <span class="material-symbols-outlined">
                logout
            </span>
        </a>
      </div>
    </div>
  </div>
</div>
  <div class="hero">
  <div class="top-nav">
    <div class="title">
      <h1>Welcome Prashant KC! <span>Teacher Admin</span></h1>
    </div>
    <div class="icons">
  <span class="material-symbols-outlined">
search
</span>
      <span class="material-symbols-outlined">
notifications_active
</span>
      <div class="dropdown">
        <img src="assets/images/admin.svg">
        <span class="material-symbols-outlined">
arrow_drop_down
</span>
      </div>
    </div>
  </div>

    <div class="banner">
      <div class="account">
        <h1>Account Overview</h1>
        <div class="overview">
          <div class="image">
          <img src="assets/images/teacher.svg">
          <h1>Rakshak Bhusan Bajracharya <span>Teacher Admin</span></h1>
        </div>
        <div class="details">
          <div class="col1">
            <div class="row1">
              <p> Full Name</p> <span>Dolma Lama</span> </div>
            <div class="row2">
              <p> Email Address</p> <span>dolma.lama&#64;gmail.com</span></div>
             <div class="row3">
               <p> Contact Phone </p><span>+977 9861342486</span> </div>
            <div class="row4">
              <p> Address</p> <span>Swayambhu, Nepal</span></div>
            </div>
        <div class="col2">
          <div class="row1">
            <p> Module Name</p> <span>Fundamentals of Computing</span> </div>
          <div class="row2">
            <p>Work Email Address</p> <span>dolma.lama&#64;islington.edu.np</span></div>
          <div class="row3">
            <p>College Contact Number </p><span>+977 9820142492</span> </div>
          <div class="row4">
            <p> Role</p> <span>Teacher, Module Leader</span></div>
        </div>
      </div>
        </div>
    </div>

      <div class="password">
        <h1>Password Details</h1>
          <div class="card-body">
            <div class="text-field">
              <div class="ing-form-control1">
                <span class="block mb-2">Current Password</span>
                <p-iconField iconPosition="left">
                  <input

                    name="password"
                    type="password"
                    pInputText
                    placeholder="Enter current password"
                  >
                </p-iconField>

              </div>
              <div class="ing-form-control2">
                <span class="block mb-2">New Password</span>
                <p-iconField iconPosition="left">
                  <input
                    name="password"
                    type="password"
                    pInputText
                    placeholder="Enter new password"
                  >
                </p-iconField>

              </div>
              <div class="ing-form-control3">
                <span class="block mb-2">Confirm Password</span>
                <p-iconField iconPosition="left">
                  <input
                    name="password"
                    type="password"
                    pInputText
                    placeholder="Enter confirm password"
                  >
                </p-iconField>

              </div>
            </div>
            <div class="bottom">
              <div class="password-criteria">
                <p>Password Criteria</p>
                <div class="list">
                  <ul>
                    <li>The password must be 8 - 30 characters long and should not contain whitespace.</li>
                    <li>The password must contain at least one uppercase letter, one lowercase letter, one number, and one special character.</li>
                    <li>The password should be different from the last three passwords.</li>
                  </ul>
                </div>
              </div>
              <div class="button">
                <button type="button" >Save Information</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</section>

